@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Inter:wght@400;600&display=swap');

body{
    background-color: #f8f9ff;
    background-image: radial-gradient(#dcdcff 1.5px, transparent 1.5px);
    background-size: 20px 20px;
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
}
.rps-logo{
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
}
.title{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Fredoka', cursive;
}

.move-icon{
    height: 50px;
}
.move-btn{
    background-color: transparent;
    cursor: pointer;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 60px;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    transition: all 0.3s ease;
}
.move-btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.result{
    font-size: 25px;
    font-weight: bold;
    color: rgb(30, 30, 30);
    min-height: 30px;
}
.game-start-msg{
    font-size: 16px;
    color: black;
    min-height: 20px;
    margin-top: 20px;
}
.game-error-msg{
    font-size: 16px;
    color: black;
    min-height: 20px;
    margin-top: 10px;
}
.rounds{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: rgb(50, 50, 50);
    min-height: 25px;
}
.round-msg{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}
.input-container{
    font-size: 16px;
    padding: 5px 10px;
    width: 60px;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
}
.js-choose{
    min-height: 80px;
    margin-top: 30px;
}
.score{
    display: none;
}
.reset-score-button{
    display: none;
}
.reset-score-button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.player-choice-icon{
    animation: player-move 1s ease;
    
}
.computer-choice-icon{
    animation: computer-move 1s ease;
}
@keyframes player-move {
    0% {transform: translateY(0px);}
    25% {transform: translateY(-20px);}
    50% {transform: translateY(0px);}
    75% {transform: translateY(-10px);}
    100% {transform: translateY(0px);}
}
@keyframes computer-move {
    0% {transform: translateY(0px);}
    25% {transform: translateY(-20px);}
    50% {transform: translateY(0px);}
    75% {transform: translateY(-10px);}
    100% {transform: translateY(0px);}
}

.rounds-input-container{
    margin-bottom: 20px;
}
.rounds{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: rgb(50, 50, 50);
    min-height: 25px;
}
.start-button{
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.3s ease;
}
.start-button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

